NEXT_PUBLIC_RENDER_API_TOKEN=f3c92e1d4b85060f8e3a2c9d1b7e4f5a6c8d0e2f1a3b5c7d9e0f1a2b3c4d5e
# Set same secret on the Render server, just simple attempt to avoid abuse, you can upgrade for more robust protection

NEXT_PUBLIC_RENDER_SERVER_URL=https://domain.com or http://localhost:3001
NEXT_PUBLIC_RENDER_SERVER_DOMAIN=domain.com or localhost:3001